* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 10%;
    height: 100%;
    gap: 5px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color: #1A2C38;
}

.drop-down-btn {
    border: none;
    width: 100%;
    height: 2em;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #80baa9;
    padding-left: .2em;
    padding-top: .2em;
}

.drop-down-content {
    max-height: 0;
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: .2em;
}