/* COLORS
#1A2C38 - GUNMETAL
#D87A3C - ORANGE
#619B8A - CYAN */

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 10%;
    height: 100%;
    gap: 10px;
}

.drop-down-btn {
    border: none;
    width: 100%;
    display: flex;

}

.drop-down-content {
    max-height: 0;
    overflow: hidden;
}

main {
    margin-left: 200px;
}